<% @page_title = "Workflows" %>

<% content_for :header do %>
  <nav>
    <%= link_to_back fallback_path: users_path %>

    <span class="btn btn--placeholder"></span>

    <h1 class="txt-large"><%= @page_title %></h1>

    <%= link_to new_workflow_path, class: "btn flex-item-justify-end" do %>
      <%= icon_tag "add" %>
      <span class="for-screen-reader">Create a new workflow</span>
    <% end %>
  </nav>
<% end %>

<%= turbo_frame_tag :workflows do %>
  <section class="center justify-center flex flex-wrap gap">
    <%= render partial: "workflows/workflow", collection: @workflows %>
  </section>
<% end %>
