<div class="card__meta flex align-center txt-tight-lines txt-uppercase max-width min-width" id="<%= dom_id(card, :meta) %>">
  <%= avatar_image_tag card.creator, class: "avatar margin-inline-end" %>

  <div class="flex flex-column gap txt-align-start">
    <span class="pad-inline overflow-ellipsis">Added
      <%= local_datetime_tag(card.created_at, style: :daysago) %>
    </span>

    <hr class="full-width separator--horizontal unpad margin-none">

    <span class="pad-inline overflow-ellipsis">
      Reported by <strong><%= familiar_name_for(card.creator) %></strong>  
    </span>
  </div>

  <hr class="separator margin-none unpad">
  
  <div class="flex flex-column gap txt-align-start overflow-ellipsis">
    <span class="pad-inline overflow-ellipsis"><%= card.creating? ? "Created" : "Updated" %>
      <%= local_datetime_tag(card.updated_at, style: :daysago) %>
    </span>

    <hr class="full-width separator--horizontal unpad margin-none">

    <span class="pad-inline overflow-ellipsis">
      Assigned to <%= card.assignees.any? ? card.assignees.map { |assignee| "<strong>#{familiar_name_for(assignee)}</strong>" }.to_sentence.html_safe : "no one" %>
    </span>
  </div>

  <div class="margin-inline-start flex-item-no-shrink">
    <%= yield %>
  </div>
</div>
