<div class="card card--mini border flex flex-column gap position-relative txt-align-start full-width border-radius fill-white" style="--card-color: <%= card.color %>; view-transition-name: <%= dom_id(card, :ticket) %>;">
  <header class="card__header flex align-center gap min-width">
    <span class="card__collection txt-uppercase overflow-ellipsis txt-reversed">
      <%= card.collection.name %>
    </span>

    <div class="overflow-ellipsis"><%= render "cards/display/mini/tags", card: card %></div>
  </header>

  <div class="card__body flex flex-column gap-half full-width flex-item-grow min-width max-width">
    <div class="flex align-center gap min-width margin-block-end-half">
      <h3 class="card__title overflow-ellipsis">
        <%= card_title(card) %>
      </h3>
    </div>

    <%= render "cards/display/mini/meta", card: card %>
  </div>

  <%= link_to collection_card_path(card.collection, card), class: "card__link" do %>
    <span class="for-screen-reader"><%= card_title(card) %></span>
  <% end %>
</div>
