<%= turbo_frame_tag "my_menu", target: "_top" do %>
  <%= render "my/menus/jump" do %>
    <%= render "my/menus/cssd" %>
    <%= render "my/menus/boards", boards: @boards %>
    <%= render "my/menus/tags", tags: @tags %>
    <%= render "my/menus/people", users: @users %>
    <%= render "my/menus/settings" %>
    <%= render "my/menus/shortcuts" %>
    <%= render "my/menus/accounts", accounts: Current.identity.accounts %>
  <% end %>

  <footer class="nav__footer">
    <strong class="txt-nowrap"><a href="https://cssd.app" target="_blank" class="txt-ink">CSSD App</a></strong> by <strong class="txt-nowrap"><a href="https://aiventure-labs.online/" target="_blank" class="txt-ink">AIVENTURE LABS</a></strong>
  </footer>
<% end %>
